# Series (시리즈)의 개념
<img src="img/1강/Series개념.jpg" alt="datetime" style="width: 1200px;"/>

# pandas 라이브러리 import 하기

#####  pandas라이브러리는 R의 dataframe 형태의 분석을 지원하는 라이브러리임

In [5]:
import pandas as pd #외부 라이브러리를 사용하기 위해서는 반드시 import하는 과정을 거쳐야 함

In [3]:
# Python의 리스트(List) 타입의 데이터 생성하기
arr = [3,5,1,2]
arr

[3, 5, 1, 2]

In [6]:
type(pd.Series(arr))

pandas.core.series.Series

In [3]:
# Pandas의 Series 타입의 데이터 생성하기
pd.Series(arr)

0    3
1    5
2    1
3    2
dtype: int64

In [1]:
# pandas 라이브러리 임포트하기 (1)
pd.Series(arr)#이 이후로는 pandas 대신에 pd라는 말을 사용할 것이라고 지정하는 것

NameError: name 'pd' is not defined

In [12]:
# pandas 라이브러리 임포트하기 (2)
import pandas as pd
pd.Series(arr)

0    3
1    5
2    1
3    2
dtype: int64

In [13]:
# pandas 라이브러리 임포트하기 (3)
from pandas import Series #빈번하게 사용하는 기능들 위주로 명시적으로 import를 진행하게 됨
Series(arr)

0    3
1    5
2    1
3    2
dtype: int64

#  Series 생성
 - 1차원 데이터를 저장하는 파이썬의 데이터타입인 리스트, 튜플, 사전 타입 등을 이용해서 Series 객체를 생성해 보고, Series 객체의 특징들을 살펴보도록 하겠습니다.

### 1) List를 사용하여 Series 생성하기

In [12]:
arr = [3, 5, 1, 2]
data1 = pd.Series(arr)
data1
data1.index=['삼','오','일','이']
data1

삼    3
오    5
일    1
이    2
dtype: int64

In [15]:
#리스트 형태로 인덱스를 직접 부여해주기
data1.index = ['a','b','c','d'] #0부터 4보다 작은 것까지 1의 간격을 바탕으로
data1 #새로 지정해주는 Index의 length와 data1의 length가 일치하지 않는다면 에러가 발생함

a    3
b    5
c    1
d    2
dtype: int64

In [16]:
data1. index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [17]:
data1 = Series(arr, index=['a','b','c','d'])
data1

a    3
b    5
c    1
d    2
dtype: int64

### 2) Tuple을 사용하여 Series 생성하기

In [9]:
arr2 = (3, 5, 1, 2)
data2 = pd.Series(arr2)
data2 #리스트로 출력했을 때와 동일한 결과를 얻을 수 있음

0    3
1    5
2    1
3    2
dtype: int64

### 3) Dict 타입의 변수를 사용하여 Series 생성하기

In [19]:
g = {
    'a':3,
    'b':5,
    'c':1,
    'd':2
}
data3 = Series(g)
data3

a    3
b    5
c    1
d    2
dtype: int64

In [20]:
#g와 data에서 ['a', 'b', 'c', 'd']를 출력하고 싶을 때 사용해야 할 구문
g.keys() #사전타입에서는 keys를 사용해야 함
#g.index는 실행되지 않음. dictionary type에서는 이것을 사용하지 않기 때문
# attribute error : 해당 기능에서는 너가 호출하려고 했던 기능이
# 포함되어 있지 않다고 알려주는 에러

dict_keys(['a', 'b', 'c', 'd'])

In [21]:
data3.index #series에서는 index함수를 사용해야 함

Index(['a', 'b', 'c', 'd'], dtype='object')

### ** 몇 가지 Series 특징들 **

- Series.values는 numpy의 ndarray객체입니다.

In [22]:
type(data3.values) #pandas가 Numpy를 기반으로 만들어졌다는 사실을 알 수 있음

numpy.ndarray

- 값에는 모든 데이터 타입 사용이 가능합니다.

In [23]:
Series([3,5,1,2, 'big data', [1,2,3], {'a':3, 'b':2}]) #어느 datatype이 들어와도 가능

0                   3
1                   5
2                   1
3                   2
4            big data
5           [1, 2, 3]
6    {'a': 3, 'b': 2}
dtype: object

# Series의 속성(Attributes)와 함수(Method)들

#### 샘플 데이터 생성
 값과 Index 인자를 사용하여, Series 생성

In [24]:
sample = Series([85, 90, 75, 55, 45, 90, 95, 85, 90, 100], 
               index = ['a','b','c','d','e','f','g','h','i','j'])
sample

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
dtype: int64

### 속성(Attribute) = Series가 가지고 있는 객체, 속성(특징) 혹은 간단한 기능을 제공

1) index - Series의 인덱스 (혹은 인덱스 라벨)

In [25]:
sample.index #생성한 Series의 Index를 확인할 수 있음

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

2) values - Series의 데이터

In [26]:
sample.values #sample의 인자값을 돌려줌

array([ 85,  90,  75,  55,  45,  90,  95,  85,  90, 100])

3) size - Series의 크기 (데이터의 길이)

In [27]:
sample.size #값의 개수를 확인할 수 잇음

10

In [28]:
len(sample) #data의 길이를 출력해 줌

10

4) dtype - Series의 데이터(Series.values)의 데이터 타입
* 정수형 숫자: int64
* 실수형 숫자: float64
* 문자열이거나 2개 이상의 데이터 타입으로 이루어진 경우: 'O' (Object)

In [29]:
sample.dtype #Int가 나오는 이유 : value가 모두 정수형 숫자로만 구성되어 있기 때문

dtype('int64')

### 함수(Methods) - Series가 제공하는 다양한 기능 활용
* 함수 호출 시 전달되는 자료들을 인자(argument, parameter)라고 합니다.
* 각 함수들은 정해진 인자들이 있으며, 인자값들을 토대로 함수가 실행됩니다. 
* 동일한 함수라고 하더라도 인자값을 어떻게 설정하느냐에 따라 동작방식은 달라질 수 있습니다.

1) describe() - 통계 정보를 한 눈에 제공해주는 함수

In [30]:
sample.describe() #sample에 대한 descriptive 통계량 제시

count     10.000000
mean      81.000000
std       17.763883
min       45.000000
25%       77.500000
50%       87.500000
75%       90.000000
max      100.000000
dtype: float64

In [31]:
sample.describe(percentiles=[0.2, 0.4, 0.6, 0.8])

count     10.000000
mean      81.000000
std       17.763883
min       45.000000
20%       71.000000
40%       85.000000
50%       87.500000
60%       90.000000
80%       91.000000
max      100.000000
dtype: float64

2) 통계함수들 - max(), min(), avg(), ...

In [32]:
sample.count()

10

In [33]:
sample.max()

100

In [34]:
sample.min() #개별적인 통계함수들도 사용이 가능함

45

3) add_prefix(prefix) - 인덱스 라벨 앞에 prefix 문자열을 추가

In [35]:
sample.add_prefix('big-') #추가할 문자열을 지정해주어야 함

big-a     85
big-b     90
big-c     75
big-d     55
big-e     45
big-f     90
big-g     95
big-h     85
big-i     90
big-j    100
dtype: int64

In [ ]:
함수와 속성의 차이 
- 속성은 변수명.속성의이름 형태로 속성에 해당하는 값이 출력되게 하였음

4) value_counts() - Series에 있는 데이터 값들의 개수

In [36]:
sample.value_counts() #값들의 개수를 세어 줌

90     3
85     2
100    1
55     1
75     1
45     1
95     1
dtype: int64

5) add(값) - Series의 데이터 각각에 값을 더하기

In [37]:
sample.add(100) #각각의 항목에 대해 100을 더하게

a    185
b    190
c    175
d    155
e    145
f    190
g    195
h    185
i    190
j    200
dtype: int64

In [38]:
sample + 100 #결과가 동일하게 출력됨

a    185
b    190
c    175
d    155
e    145
f    190
g    195
h    185
i    190
j    200
dtype: int64

In [39]:
sample #sample의 각각의 값에 대해 100을 더하게 됨

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
dtype: int64

In [40]:
sample.add(other=100) #명시적으로 하기 위해서는 add 함수에 other값을 지정할 수 있어야 함

a    185
b    190
c    175
d    155
e    145
f    190
g    195
h    185
i    190
j    200
dtype: int64


<b>[Mini Quiz #1]</b> 앞에 5개의 데이터에는 5를 더하고, 나머지 5개의 데이터에는 10을 더하시오.

In [41]:
sample.add([5,5,5,5,5,10,10,10,10,10]) #각각의 value에 대해 다른 값을 연산하고 싶다면 list형태를 사용하여 연산하면 됨

a     90
b     95
c     80
d     60
e     50
f    100
g    105
h     95
i    100
j    110
dtype: int64

6) append(series) - 인자로 받은 series를 기존 series 뒤에 이어붙여서 하나의 series로 만든다.

In [42]:
sr = Series(80, index=['k']) #시리즈의 index는 하나의 값이라 하더라도 반드시 list형태로
sr

k    80
dtype: int64

In [43]:
sample.append(sr)

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
k     80
dtype: int64

In [44]:
pd.concat([sample,sr])

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
k     80
dtype: int64

In [45]:
sample
type(sample)

pandas.core.series.Series

In [46]:
# append의 값을 sample에 반영하고 싶다면 반드시 sample에 append를 적용한 것을 할당해야 함 
sample = sample.append(sr)
sample

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
k     80
dtype: int64

<b>[Mini Quiz #2]</b> sample 데이터 내에 80이 있는지 확인하여 있으면 True, 없으면 False를 출력

In [47]:
80 in sample.values #sample 안에 80이 있는지 확인 후 T와 F의 형태로 값을 출려해 줌

True

7) isin(val_list) - Series에 있는 각각의 데이터들이 val_list에 포함되어 있는지 여부를 확인

In [48]:
sample.isin([80,90]) #각각의 value에 대해 80,90이 포함되는지 확인해 볼 수 잇음

a    False
b     True
c    False
d    False
e    False
f     True
g    False
h    False
i     True
j    False
k     True
dtype: bool

In [49]:
sample[sample.isin([80,90])]

b    90
f    90
i    90
k    80
dtype: int64

<b>[Mini Quiz #3]</b> sample의 인덱스 내에 'h'가 있는지 확인하여 있으면 True, 없으면 False를 출력

In [50]:
'h' in sample.index

True

8) apply(<i>func</i>) - Series의 값에 <i>func</i> 함수를 적용

In [51]:
sample
# 90이상이면 A, 80~90:B, 80미만이면 C로 변환
# 나만의 로직을 기반으로 하는 함수는 내가 함수를 직접 생성해야 함

def get_grade (score) :
    if score >= 90 :
        return 'A'
    elif score >= 80 : 
        return 'B'
    else :
        return 'C'

In [52]:
get_grade(85)

'B'

In [53]:
get_grade(80)

'B'

In [54]:
sample.apply(get_grade) #apply함수를 통해 함수를 반복적으로 적용할 수 있음

a    B
b    A
c    C
d    C
e    C
f    A
g    A
h    B
i    A
j    A
k    B
dtype: object

## Series 인덱싱 - 원하는 데이터만 선택하기

1) 특정 인덱스 선택하기
- 숫자 인덱스와 인덱스 라벨 모두 가능

In [55]:
sample['d']

55

In [56]:
sample[4]

45

2) 여러 인덱스를 동시에 선택하기
- 선택하고자 하는 인덱스 목록을 리스트(List, [])로 전달

In [57]:
#a,d,f만 선택
#여러 개의 인덱스를 추출하고 싶다면 리스트를 통해 뽑아내면 됨
sample[['a','d','f']]

a    85
d    55
f    90
dtype: int64

In [58]:
sample[[2,4,6]] #숫자로도 다중 인덱싱을 할 수 있음. 리스트의 형태만 지켜주면 됨

c    75
e    45
g    95
dtype: int64

In [59]:
# c, d, e, f, g를 선택
sample['c':'g']

c    75
d    55
e    45
f    90
g    95
dtype: int64

In [60]:
#슬라이싱을 통해 하고 싶다면 
sample['c':'g']
# sample (start index, end index)

c    75
d    55
e    45
f    90
g    95
dtype: int64

In [61]:
#숫자 인덱싱으로 진행하고 싶다면 
sample[2:7] #숫자에 대해 슬라이싱을 하게 될 경우 end index를 포함하지 않기 때문에 +1하여 연산해야 함

c    75
d    55
e    45
f    90
g    95
dtype: int64

In [62]:
sample[0:5]

a    85
b    90
c    75
d    55
e    45
dtype: int64

In [63]:
sample[:5] #0으로 시작할 경우 start index 작성을 생략해도 됨

a    85
b    90
c    75
d    55
e    45
dtype: int64

In [64]:
#5번째부터 끝까지
sample[4:]

e     45
f     90
g     95
h     85
i     90
j    100
k     80
dtype: int64

In [65]:
# start index 와 end index 모두 생략 
sample[:]
#이럴 경우 그냥 처음부터 끝까지 출력해 줌

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
k     80
dtype: int64

3)인덱스 슬라이싱 - 주어진 범위에 해당하는 데이터 선택
<img src="img/1강/Series-슬라이싱.jpg" alt="datetime" style="width: 500px;"/>

- start idx와 end idx는 생략이 가능
- start idx를 생략 -> 맨 첫 데이터부터 선택
- end idx를 생략 -> 데이터 끝까지 선택
- 파이썬에서는 다른 언어와 다르게 마이너스 인덱스 기능을 제공해 줌 (뒤에서부터 연산하는 형태)

In [66]:
# 맨 뒤에 있는 5개의 데이터를 선택
sample[-5:] #맨 뒤에서 5개째부터 끝까지 출력해달라는 뜻

g     95
h     85
i     90
j    100
k     80
dtype: int64

4) 조건 색인(불리언 색인) : 조건을 활용한 인덱스 선택
- 조건에 충족하는 데이터만 선택하는 방법
- 매우 많이 활용되므로, 꼭 알고 있어야 함!
<img src="img/1강/조건색인1.jpg" alt="datetime" style="width: 1200px;"/>

In [71]:
boolean_idx = [False, False, False, False, False, 
               True, True, True, True, True, True]
len(sample)

11

In [72]:
sample[boolean_idx]

f     90
g     95
h     85
i     90
j    100
k     80
dtype: int64

- boolean index를 조건을 통해 생성할 수 있다. 
<img src="img/1강/조건색인2.jpg" alt="datetime" style="width: 1200px;"/>

In [73]:
idx = sample>=90 #sample에 대해 T,F의 list를 생성해 줌
idx

a    False
b     True
c    False
d    False
e    False
f     True
g     True
h    False
i     True
j     True
k    False
dtype: bool

In [74]:
sample[idx] #조건 색인

b     90
f     90
g     95
i     90
j    100
dtype: int64

<b>[Mini Quiz #4]</b> sample 데이터의 평균값보다 큰 데이터만 선택

In [75]:
a = pd.Series.mean(sample)
idx2 = sample>a
sample[idx2]

a     85
b     90
f     90
g     95
h     85
i     90
j    100
dtype: int64

<b>[Mini Quiz #5]</b> sample의 값이 50과 80 사이의 데이터만 선택

In [77]:
idx4 = (sample>50) & (sample<80)
sample[idx4]

c    75
d    55
dtype: int64

In [78]:
sample[(sample>=50) & (sample<=80)] #동일한 조건 색인을 한 줄로도 표현해 볼 수 있음

c    75
d    55
k    80
dtype: int64

=============================================================
# 실습 문제

In [79]:
import random

In [80]:
# 실습 데이터 생성
sample = random.sample(range(1,100),26) # 1~100사이의 값을 26개 생성하여 list로 반환
data = Series(sample, index = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ'))
data

A    17
B    69
C    80
D    44
E    10
F    97
G    48
H     1
I    39
J    43
K    28
L    49
M    13
N    11
O    84
P    22
Q    91
R    21
S    52
T     7
U    63
V     8
W     2
X    71
Y    12
Z    61
dtype: int64

In [81]:
# 1) 인덱스 라벨이 'K' 항목의 값 출력
data['K']

28

In [82]:
# 2) 인덱스 라벨이 'A','F','C' 항목의 값 출력
data[['A','F','C']]

A    17
F    97
C    80
dtype: int64

In [83]:
# 3) 5번 인덱스부터 15번 인덱스까지의 항목 출력
data[4:16]

E    10
F    97
G    48
H     1
I    39
J    43
K    28
L    49
M    13
N    11
O    84
P    22
dtype: int64

In [84]:
# 4) 뒤에서 5개 항목 출력
data[-5:]

V     8
W     2
X    71
Y    12
Z    61
dtype: int64

In [85]:
# 5) data의 항목의 갯수를 출력
#data.size 를 실행시켜도 동일한 값을 출력할 수 있음
len(data)

26

In [86]:
# 6) data 항목 값들의 평균보다 큰 항목만 출력 
## Hint. data 항목 값들의 평균은 data.mean()으로 구할 수 있다.
a = data.mean()
data > a

A    False
B     True
C     True
D     True
E    False
F     True
G     True
H    False
I    False
J     True
K    False
L     True
M    False
N    False
O     True
P    False
Q     True
R    False
S     True
T    False
U     True
V    False
W    False
X     True
Y    False
Z     True
dtype: bool

In [87]:
# 7) data의 항목 값 중에 50이 있는지 확인하여, 있으면 True, 없으면 False를 출력
50 in data

False

In [ ]:
# 8) data의 인덱스 라벨과 각 항목 값을 아래와 같이 출력
# index: A, value: XX
# index: B, value: XX
# index: C, value: XX

In [88]:
for val in data :
    print(val)

17
69
80
44
10
97
48
1
39
43
28
49
13
11
84
22
91
21
52
7
63
8
2
71
12
61

In [89]:
# for문의 in과 그냥 in은 기능이 다르다 
for val in data :
    print(val) #data.values와 동일한 기능을 함

17
69
80
44
10
97
48
1
39
43
28
49
13
11
84
22
91
21
52
7
63
8
2
71
12
61

In [90]:
for val in data.items():
    print(val) 
    #items함수를 사용하게 되면 index와 value 쌍을 돌려주게 
    #튜플의 형식으로 값을 돌려줌

('A', 17)
('B', 69)
('C', 80)
('D', 44)
('E', 10)
('F', 97)
('G', 48)
('H', 1)
('I', 39)
('J', 43)
('K', 28)
('L', 49)
('M', 13)
('N', 11)
('O', 84)
('P', 22)
('Q', 91)
('R', 21)
('S', 52)
('T', 7)
('U', 63)
('V', 8)
('W', 2)
('X', 71)
('Y', 12)
('Z', 61)

In [92]:
for idx, val in data.items():
    print('index : ', idx, '  value : ', val)

index :  A   value :  17
index :  B   value :  69
index :  C   value :  80
index :  D   value :  44
index :  E   value :  10
index :  F   value :  97
index :  G   value :  48
index :  H   value :  1
index :  I   value :  39
index :  J   value :  43
index :  K   value :  28
index :  L   value :  49
index :  M   value :  13
index :  N   value :  11
index :  O   value :  84
index :  P   value :  22
index :  Q   value :  91
index :  R   value :  21
index :  S   value :  52
index :  T   value :  7
index :  U   value :  63
index :  V   value :  8
index :  W   value :  2
index :  X   value :  71
index :  Y   value :  12
index :  Z   value :  61

loop문 -> for문